<dialog id="dialog-window" class="mdl-dialog">
  <h4 class="mdl-dialog__title"></h4>
  
  <div class="mdl-dialog__content">
    
    <% if @vendor_user %>
      <div class="button-single">
        <div class="row1">
          <%= link_to "Login as a vendor", '/sessions/change_to_vendor',
            {:id => "vendor-login" , :style => 'color:#000'} %>
        </div>
      </div>
    <% end %>
    
    <div class="formcode" id="code-form">
      <%= form_tag("/sessions/customer", method: "get") do %>
        <div class="field_text mdl-textfield mdl-js-textfield 
          mdl-textfield--floating-label">
          <div class="mdl-textfield__label">
            <%= label_tag(:code, "Enter your code:") %>
          </div><br/>
          <%= text_field_tag(:code, nil, class: "mdl-textfield__input") %>
        </div><br/>
        <div class="mdl-dialog__actions">
          <%= submit_tag "Submit", :id => "submit",
            class: "redeem-submit-button mdl-button mdl-button--raised" %>
          <%= link_to (button_tag 'Cancel', :type => 'button',
            :class => 'mdl-button close'), '/' %>
        </div>
      <% end %>
    </div> <!-- formcode -->
  
  </div> <!-- mdl-dialog__content -->

</dialog>

<button id="show-dialog"
  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored
    mdl-js-ripple-effect">
      Redeem your code!
</button>
