<div class="welcome mdl-layout mdl-js-layout">
  <%= render 'shared/header' %>

  <div class="redeemify-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h5><%= t 'customer.your_code' %> <%= @current_code %></h5>
      <h5><%= t 'customer.offer_value' %><%= number_to_currency(@total) %></h5>
    </div>
  </div>

  <% if flash[:alert].present? %>
    <div class="warning">
      <% flash.keys.each do |key| %>
         <%= flash[key] %>
      <% end %>
    </div>
  <% end %>
  
  <span class="customer_notice"><%= t 'customer.instruction' %></span>
  <% if @vendor_user %>
    <div class="button-single">
      <div class="row1">
        <%= link_to "Change to vendor", '/sessions/change_to_vendor',
          {:id => "change_to_vendor"} %>
      </div>
    </div>
  <% end %>
  
  <div class="wrapper">
    <div class="flex-container">
      <% @codes.each do |vendor, code| %>
        <div class="flex-item">
          <table class="offer mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Vendor:</td>
              <td><%= link_to vendor, @website[vendor], 
                style: 'color:#fd7330', target: '_blank' %>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= t 'customer.vendor_code' %>
              </td>
              <td><%= code %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                  <%= t 'customer.expiration_date' %>
              </td>
              <td><%= @expiration[vendor] %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= t 'customer.cash_value' %>
              </td>
              <td><%= number_to_currency(@cash_value[vendor]) %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= t 'customer.description' %>
              </td>
              <td><%= @description[vendor] %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= t 'customer.vendor_instruction' %>
              </td>
              <td><%= @instruction[vendor] %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= t 'customer.help' %>
              </td>
              <td><%= link_to('link', 
                @help_link[vendor]) if @help_link[vendor].present? %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>

  <span class="delete-account"><%= t 'customer.delete_account' %></span>
  <div class="bin-icon">
    <a href="/sessions/delete_page" id="delete-account" onclick="false">
      <i class="account-delete-dialog material-icons">delete</i>
    </a>
    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title"><%= t 'delete_page.caution' %></h4>
      <div class="mdl-dialog__content">
        <p>
          <%= t 'delete_page.line1' %>
          <%= t 'delete_page.line2' %>
        </p>
        <h4><%= t 'delete_page.line3' %></h4>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">No</button>
        <a href="/sessions/delete_account" class="mdl-button">Delete!</a>
      </div>
    </dialog>
  </div>
</div>

<script>
  var dialog = document.querySelector('dialog');
  var showDialogButton = document.querySelector('.account-delete-dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
  $('.account-delete-dialog').click(function(e){
    event.preventDefault();
  });
</script>