<div class="delete-page">
  <h4 class="red"><%= t 'delete_page.attention' %></h4>
  <h5><%= t 'delete_page.line1' %></h5>
  <h5><%= t 'delete_page.line2' %></h5>
  <h5><%= t 'delete_page.line3' %></h5>

  <div class="button-delete">
    <%= link_to "Yes", '/sessions/delete_account',
      { id: "delete-confirm", class: "red" } %>
  </div>

  <div class="button-delete">
    <%= link_to "No", '/sessions/customer',
      { id: "delete-reject", class: "blue" } %>
  </div>
</div>