<%= render :partial => 'shared/offeror_header' %>
<%= render :partial => 'shared/messages' %>

<h4 class="center">
  <%= t 'profile.header' %>
</h4>

<div class="center">
  <%= link_to image_tag('home2.png', alt: '/vendors/home', :size => '40x40'),
    "/vendors/home" %>
</div>

<%= form_tag update_profile_vendors_path, multipart: true do %>

  <div class="profile">
    <%= label_tag :cash_value, t('profile.cash_value') %>
    <%= text_field_tag :cash_value, current_vendor.cashValue,
      placeholder: t('placeholder.cash_value') %>
    
    <%= label_tag :expiration, t('profile.expiration') %>
    <% if current_vendor.expiration.blank? %>
      <%= text_field_tag :expiration, nil,
        placeholder: t('placeholder.expiration') %>
    <% else %>
      <%= text_field_tag :expiration, current_vendor.expiration %>
    <% end %>
    
    <%= label_tag :help_link, t('profile.help_link') %>
    <%= text_field_tag :help_link, current_vendor.helpLink,
      placeholder: t('placeholder.help_link') %>
    
    <%= label_tag :description, t('profile.description') %>
    <%= text_field_tag :description, current_vendor.description,
      placeholder: t('placeholder.description') %>
    
    <%= label_tag :instruction, t('profile.instruction') %>
    <%= text_field_tag :instruction, current_vendor.instruction,
      placeholder: t('placeholder.instruction') %>
  </div>
  
  <%= submit_tag "Submit", id: "submit", class: "submit" %>
<% end %>


<script>
  $(function() {
    $("#expiration").datepicker();
  });
</script>