<%= render :partial => 'shared/offeror_header' %>
<%= render :partial => 'shared/messages' %>

<h4 class="center">
  <%= t 'offeror.header' %>
</h4>

<div class="center">
  <%= link_to image_tag('home2.png', alt: "/vendors/home", :size =>'40x40'),
    "/#{params[:controller]}/home" %>
</div>

<%= form_tag "/#{params[:controller]}/import", multipart: true do %>

  <div class="upload_title">
    Attach '.txt' file with codes, one code per line
  </div>

  <div class="upload_codes">
    <%= file_field_tag :file %> 
  </div>
  
  <div class="upload_comment">
    <%= t 'offeror.comment' %>
  </div> 

  <textarea name="comment" id="comments" cols="50" rows="5"></textarea>

  <div class="upload_submit">
    <%= submit_tag "Submit", :id => "submit" %>
  </div>
<% end %>
